---

- name: Validate node DNS
  ansible.builtin.include_tasks: "validate-dns.yml"
  loop: "{{ groups.masters + groups.workers }}"

- name: Validate Load Balancer DNS
  ansible.builtin.include_tasks: "validate-dns.yml"
  loop: "{{ groups.lbs }}"
  vars:
    additional_domains:
      - api.{{ cluster_name }}.{{ base_domain }}
      - api-int.{{ cluster_name }}.{{ base_domain }}
      - random.apps.{{ cluster_name }}.{{ base_domain }}
      - console-openshift-console.apps.{{ cluster_name }}.{{ base_domain }}
  when: lbs_loadbalancer_configure | default(true)

- name: Validate additional DNS entries (not using LBS)
  ansible.builtin.command: dig +short "{{ test_domain }}"
  register: test_domain_ip
  failed_when: not test_domain_ip.stdout
  loop:
    - api.{{ cluster_name }}.{{ base_domain }}
    - api-int.{{ cluster_name }}.{{ base_domain }}
    - random.apps.{{ cluster_name }}.{{ base_domain }}
    - console-openshift-console.apps.{{ cluster_name }}.{{ base_domain }}
  loop_control:
    loop_var: test_domain
  changed_when: false
  when: not lbs_loadbalancer_configure
