---

- name: Create installation config file
  ansible.builtin.template:
    src: templates/install-config.yaml.j2
    dest: "{{ openshift_files_directory }}/install-config.yaml"
    mode: '0644'
  register: install_config

- name: Create installation agent config file
  ansible.builtin.template:
    src: templates/agent-config.yaml.j2
    dest: "{{ openshift_files_directory }}/agent-config.yaml"
    mode: '0644'
  when: openshift_agent_installation
  register: agent_config

- name: Write OKD version to file
  ansible.builtin.copy:
    content: "{{ okd_version_full }}"
    dest: "{{ openshift_files_directory }}/.okd-version"
    mode: '0644'
  register: okd_version_file

- name: Create new cluster files if config file or okd version changed  # noqa: no-handler
  when: install_config.changed or okd_version_file.changed or agent_config.changed or openshift_agent_installation
  block:
    - name: Delete installation config tmp directory
      ansible.builtin.file:
        state: absent
        path: "{{ openshift_files_directory }}/.install-config"

    - name: Create installation config tmp directory
      ansible.builtin.file:
        state: directory
        path: "{{ openshift_files_directory }}/.install-config"
        mode: '0755'

    - name: Copy dependencies
      ansible.builtin.copy:
        src: "{{ openshift_files_directory }}/{{ item }}"
        dest: "{{ openshift_files_directory }}/.install-config/{{ item }}"
        mode: '0644'
      with_items:
        - agent-config.yaml
        - install-config.yaml
        - pull-secret

    - name: Copy custom manifests
      ansible.builtin.command:
        cmd: "cp -R {{ playbook_dir }}/{{ openshift_custom_manifests }} {{ openshift_files_directory }}/.install-config/openshift"
      changed_when: true
      when: openshift_custom_manifests is defined

    - name: Copy additional samples-operator configuration
      ansible.builtin.copy:
        src: "files/samples-operator-removed.yaml"
        dest: "{{ openshift_files_directory }}/.install-config/openshift/samples-operator-removed.yaml"
        mode: '0644'
      when: okd_samples_operator_removed

    - name: Create agent image (this takes a long time, expect roughly a minute)
      ansible.builtin.command:
        cmd: "{{ openshift_install_executable }} agent create image --dir={{ openshift_files_directory }}/.install-config --log-level=debug"
      when: openshift_agent_installation
      register: image_creation

    - name: Log image creation line (stdout)
      debug: msg="{{ image_creation.stdout_lines }}"
    - name: Log image creation line (stderr)
      debug: msg="{{ image_creation.stderr_lines }}"

    - name: Create cluster manifests files
      ansible.builtin.command:
        cmd: "{{ openshift_install_executable }} create manifests --dir={{ openshift_files_directory }}/.install-config"
      changed_when: true
      when: not openshift_agent_installation

    - name: Create cluster ignition files
      ansible.builtin.command:
        cmd: "{{ openshift_install_executable }} create ignition-configs --dir={{ openshift_files_directory }}/.install-config"
      changed_when: true
      when: not openshift_agent_installation

    - name: Create auth directory
      ansible.builtin.file:
        state: directory
        path: "{{ openshift_files_directory }}/auth"
        mode: '0755'

    - name: Copy new kubeconfig and kubeadmin-password files
      ansible.builtin.copy:
        src: "{{ openshift_files_directory }}/.install-config/auth/{{ item }}"
        dest: "{{ openshift_files_directory }}/auth/{{ item }}"
        mode: '0600'
      with_items:
        - kubeconfig
        - kubeadmin-password
